{{- $sonataflowFile := .Files.Get "manifests/05-sonataflow_create-ocp-namespace-swt.yaml.template" -}}
{{- $sonataflow := $sonataflowFile | fromYaml -}}

{{- /* Update envFrom to use Helm-managed secret */ -}}
{{- $_ := set $sonataflow.spec.podTemplate.container "envFrom" (list (dict "secretRef" (dict "name" (printf "%s-creds" (include "create-ocp-namespace-swt.fullname" .))))) -}}

{{- /* Update persistence if configured */ -}}
{{- if .Values.persistence.postgresql -}}
{{- $persistence := dict "postgresql" (dict 
  "secretRef" (dict 
    "name" .Values.persistence.postgresql.secretRef.name 
    "userKey" .Values.persistence.postgresql.secretRef.userKey 
    "passwordKey" .Values.persistence.postgresql.secretRef.passwordKey
  )
  "serviceRef" (dict 
    "name" .Values.persistence.postgresql.serviceRef.name 
    "port" (.Values.persistence.postgresql.serviceRef.port | int)
    "databaseName" .Values.persistence.postgresql.serviceRef.databaseName 
    "databaseSchema" .Values.persistence.postgresql.serviceRef.databaseSchema
  )
) -}}
{{- $_ := set $sonataflow.spec "persistence" $persistence -}}
{{- end -}}

{{- $sonataflow | toYaml }}
